/* Lab 5 CSS File */
body {
   font-family: Arial, Helvetica, sans-serif;
}
#bodyBlock {
   width: 700px;
   margin: auto;
}
#output {
   margin: 1em 0;
   color: black;
   background-color: #fee;
   padding: 1em;
   border: 1px solid #ddd;
}
fieldset {
   padding-top: 1em;
   border: 1px solid #ccc;
}
.field {
   width: 120px;
   margin: 0 0.5em 0.5em 0;
   float: left;
   clear: left;
   text-align: right;
}
.value {
   margin: 0 0 0.5em 0;
}
#save {
   float: right;
}

/* Crime #4 fix: focused fields get #fee background */
input:focus,
textarea:focus,
select:focus {
   background-color: #fee;
}

.name {
   margin-top: -0.5rem;
   margin-bottom: 1rem;
   color: #000000;
   font-size: 0.95rem;
}
